*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
.card{
    width: 370px;
    max-width: 90%;
    min-height: 500px;
    padding: 10px;
    background-color: #fcfcfc;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: fadeUp 0.6s ease forwards;
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.cover{
    position: relative;
    height: clamp(140px, 25vw, 180px);
    z-index: 1 ;
}


.sky{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    
}
.profile{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2 ;
    bottom: -50px;
    left: 50%;             /*...*/
    transform: translateX(-50%);    /*...*/
    background-color: #fff;
    border-radius: 50%;
    padding: 7px;
 
}
.boy{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.info-text{
    margin-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
   color: #777;
    font-size: 0.95rem;
    text-align: center; 
    font-weight: 600;
    margin-top: 1rem;
}
.stats{
    padding: 20px 0;
    background-color: rgb(231, 225, 225);;
    border-radius: 10px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2); 
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.number{
font-size: 1.3rem;
font-weight: 600;
}
.text{
font-size: 1rem;
font-weight: 600;
color: #777373;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.social-media a{
    font-size: 2em;
    transition: all 0.3s ease;
}

.social-media a:hover{
    transform: translateY(-5px) scale(1.1);
    color: #555;
}